<div class="container">
<div class="card bg-dark text-white" style="border-radius: 5px;">
    <img src="../../assets/image/tag1.png" class="card-img" alt="..." width="70" height="350">
    <div class="card-img-overlay">
        <h2 class="card-title" style="text-align: center;">Be a part of our family & <br> get everything in your
            pocket</h2>
        <p class="card-text" style="text-align: center; color: #f19171;">Download the Justdial App</p>
        <div style="text-align: center;">
            <input type="text" placeholder="Enter Phone Number">
            <a href="#" class="btn btn-primary">Get App</a>
        </div>
        <div class="wrapper app-store text-center">
            <a href="https://www.justdial.com/JD-ON-MOBILE" title="Local Search on Mobile from Justdial"><span
                    class="footer_sprite pstore-icon"></span></a>
            <a href="https://www.justdial.com/JD-ON-MOBILE" title="Local Search on Mobile from Justdial"><span
                    class="footer_sprite istore-icon"></span></a>
        </div>
    </div>
    </div>


<div class="wrapper pt-20 end-text">
    <p>Some of the other services that can be of assistance to you for leisure, health and home
        convenience are - Courier Service, Laundry Service, AC Repair, Thyrocare, Metropolis,Order
        Mineral Water, Book a Table, Doctor's Appointment, Order Food Online, etc. </p>

    <p><span id="f_end">With an endless number of things under the sun, you can be sure this will be
            your</span>
        <i><span id="f_end_ost">'One Stop Shop' </span></i> <span id="f_end_grd">to find everything and
            more.</span>
    </p>
</div>


<div style="text-align: center;">
    <span> Copyright 2022-20. All Rights Reserved.</span>
    <a href="https://www.justdial.com/Privacy-Policy">Privacy</a>
    |
    <a href="https://www.justdial.com/Terms-of-Use">Terms</a>
    |
    <a href="https://www.justdial.com/Infringement-Policy">Infringement</a>

    <span>View Just Dial on</span>

    <a href="https://www.justdial.com/">
        Smartphone</a>
    |
    <a href="https://www.justdial.com/">
        Mobile
    </a>
</div>
