<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://www.learnlytica.com/logo.png?v=14" alt="" width="260" height="60"
                style="margin-left: 10%;"></a>
        <form class="d-flex">
            <a class="nav-link active text-primary" href="/courselibrary">CourseLibrary</a>
            <a class="nav-link active text-primary" href="#">Services</a>
 
            <button class="btn btn-primary" type="submit" style="border-radius: 30px;">Login</button>
        </form>
    </div>
</nav>